.vscode/
.venv-docs/
site/
__pycache__/
build-*/
examples/**/build*/
examples/**/build-*.log
examples/**/sdkconfig
examples/**/sdkconfig.old
examples/**/sdkconfig.*
!examples/**/sdkconfig.defaults
!examples/**/sdkconfig.defaults.*
managed_components/
**/managed_components/
dependencies.lock
**/dependencies.lock
esp-idf-en-*/
