CONFIG_LV_OS_FREERTOS=y
CONFIG_LV_COLOR_DEPTH_16=y
CONFIG_BLUSYS_UI_X_OFFSET=0
CONFIG_BLUSYS_UI_Y_OFFSET=0
CONFIG_BLUSYS_UI_BUF_LINES=20
CONFIG_BLUSYS_UI_DIAG_FLUSH_BAND_STRIDE=y
CONFIG_BLUSYS_UI_DIAG_LOG_FLUSH=y
CONFIG_BLUSYS_UI_DIAG_SCENE_FULL=y
