menu "SNTP Basic Example"

    config WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            SSID of the access point.

    config WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            WiFi password.

    config SNTP_SERVER
        string "NTP Server"
        default "pool.ntp.org"
        help
            Hostname of the NTP server.

    config SNTP_SYNC_TIMEOUT_MS
        int "Sync timeout (ms)"
        default 15000
        range 1000 60000
        help
            Maximum time to wait for time synchronization.

endmenu
