menu "Blusys LCD SSD1306 Basic Example"

config BLUSYS_LCD_SSD1306_I2C_PORT
    int "I2C port"
    range 0 1
    default 0

config BLUSYS_LCD_SSD1306_SDA_PIN
    int "SDA GPIO pin"
    default 21 if IDF_TARGET_ESP32
    default 5 if IDF_TARGET_ESP32C3
    default 1 if IDF_TARGET_ESP32S3

config BLUSYS_LCD_SSD1306_SCL_PIN
    int "SCL GPIO pin"
    default 22 if IDF_TARGET_ESP32
    default 6 if IDF_TARGET_ESP32C3
    default 2 if IDF_TARGET_ESP32S3

config BLUSYS_LCD_SSD1306_DEV_ADDR
    hex "I2C device address"
    default 0x3C

config BLUSYS_LCD_SSD1306_RST_PIN
    int "RST GPIO pin (-1 if not used)"
    default -1

config BLUSYS_LCD_SSD1306_I2C_FREQ_HZ
    int "I2C frequency Hz"
    default 400000

endmenu
