menu "Blusys TWAI Basic Example"

config BLUSYS_TWAI_BASIC_TX_PIN
    int "TWAI TX GPIO pin"
    range 0 48
    default 4 if IDF_TARGET_ESP32
    default 4 if IDF_TARGET_ESP32C3
    default 4 if IDF_TARGET_ESP32S3
    help
        Select the GPIO connected to the external TWAI transceiver TX input.

config BLUSYS_TWAI_BASIC_RX_PIN
    int "TWAI RX GPIO pin"
    range 0 48
    default 5 if IDF_TARGET_ESP32
    default 5 if IDF_TARGET_ESP32C3
    default 5 if IDF_TARGET_ESP32S3
    help
        Select the GPIO connected to the external TWAI transceiver RX output.

config BLUSYS_TWAI_BASIC_BITRATE
    int "TWAI bitrate"
    range 10000 1000000
    default 125000
    help
        Classic TWAI/CAN bitrate in bits per second.

endmenu
