menu "Blusys UI Basic Example"

config BLUSYS_UI_SPI_BUS
    int "SPI bus"
    range 0 1
    default 0

config BLUSYS_UI_SCLK_PIN
    int "SCLK GPIO pin"
    default 18 if IDF_TARGET_ESP32
    default 4 if IDF_TARGET_ESP32C3
    default 12 if IDF_TARGET_ESP32S3

config BLUSYS_UI_MOSI_PIN
    int "MOSI GPIO pin"
    default 23 if IDF_TARGET_ESP32
    default 6 if IDF_TARGET_ESP32C3
    default 11 if IDF_TARGET_ESP32S3

config BLUSYS_UI_CS_PIN
    int "CS GPIO pin"
    default 5 if IDF_TARGET_ESP32
    default 7 if IDF_TARGET_ESP32C3
    default 10 if IDF_TARGET_ESP32S3

config BLUSYS_UI_DC_PIN
    int "DC GPIO pin"
    default 2 if IDF_TARGET_ESP32
    default 3 if IDF_TARGET_ESP32C3
    default 13 if IDF_TARGET_ESP32S3

config BLUSYS_UI_RST_PIN
    int "RST GPIO pin (-1 if not used)"
    default -1

config BLUSYS_UI_BL_PIN
    int "Backlight GPIO pin (-1 if not used)"
    default -1

config BLUSYS_UI_PCLK_HZ
    int "SPI pixel clock Hz"
    default 16000000

config BLUSYS_UI_X_OFFSET
    int "ST7735 X offset"
    default 2

config BLUSYS_UI_Y_OFFSET
    int "ST7735 Y offset"
    default 1

config BLUSYS_UI_SWAP_XY
    bool "Swap X/Y"
    default y

config BLUSYS_UI_MIRROR_X
    bool "Mirror X"
    default y

config BLUSYS_UI_MIRROR_Y
    bool "Mirror Y"
    default n

config BLUSYS_UI_INVERT_COLOR
    bool "Invert colors"
    default n

endmenu
